{% load static %}
<!DOCTYPE html>

<head>
    <script src="{% static 'chatbot/reconnecting-websocket.js' %}" type="text/javascript"></script>
    <script>
        console.log(window.location.host);
        let wsScheme = window.location.protocol === "https:" ? "wss://" : "ws://";
        let messageSocket = new ReconnectingWebSocket(
            wsScheme + window.location.host + '/input/'
        );
        console.log(wsScheme + window.location.host + '/input/');

        {% comment %}messageSocket.onclose = function() {
            const $switch = $('.switch-box');
            if ($switch.prop('checked') === true)
            {
                $switch.prop('checked', false);
                $switch.change();
            }
            messageSocket = new ReconnectingWebSocket(
                wsScheme + window.location.host + '/input/'
            );
        }{% endcomment %}

        messageSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data);
            if (data['type'] === 'reply') {
                const message = document.createElement("div");
                message.setAttribute("align", "left");
                message.classList.add('conversation-text', 'hal-text');
                message.textContent = data['message'];
                const conversation = $("#conversation-div");
                conversation.append(message);

                let scrollOptions = Object();
                scrollOptions.behavior = 'smooth';
                scrollOptions.block = 'start';

                message.scrollIntoView(scrollOptions);

            } else if (data['type'] === 'status' && data['message'] === 'on') {
                $('#background-img').addClass('color');
            }
        }
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>HAL</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="{% static 'chatbot/hal.css' %}" rel="stylesheet" type="text/css">
    <script src="{%  static 'chatbot/jquery-3.5.1.js' %}" type="text/javascript"
            crossorigin="anonymous"></script>
    <link href="{% static 'chatbot/hal_icon.png' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'chatbot/hal_icon.png' %}" rel="apple-touch-icon">
</head>
<body class="body fill">
<div id="background-img" class="fill background"></div>
<audio id="startup" src="{% static 'chatbot/startup.mp3' %}"></audio>
<audio id="background-audio" src="{% static 'chatbot/ambient.mp3' %}"></audio>
<audio id="shutdown" src="{% static 'chatbot/shutdown.mp3' %}"></audio>
<div id="window" class="flex-container flex-column fill fixed">
    <div class="container">
        <div class="switch-group w-form">
            <form id="switch-group" name="switch-group" data-name="On Off Switch" class="switch-group" action="" method="post"> {% csrf_token %}
                <label class="lock">
                    <input class="lock-box" type="checkbox" checked>
                    <span class="button"></span>
                </label>
                <label class="switch">
                    <input class="switch-box" type="checkbox" disabled>
                    <span class="slider"></span>
                </label>
                <script>
                    $('.lock-box').change(function () {
                        const $child = $(this).closest('.switch-group').find('.switch-box');
                        $child.prop('disabled', this.checked);
                        const $switch = $(this).closest('.switch-group').find('.slider');
                        if (this.checked) {
                            $switch.css('cursor', 'not-allowed');
                        } else {
                            $switch.css('cursor', 'pointer');
                        }
                    });
                </script>
                <script>
                    $('.switch-box').change(function () {
                        const $background = $('#background-img');

                        // sound effects
                        const $ambient = document.getElementById('background-audio');
                        const $shutdown = document.getElementById('shutdown');
                        const $startup = document.getElementById('startup');

                        console.log("submitting");


                        if (this.checked) {
                            messageSocket.send(JSON.stringify({
                                'type': 'status',
                                'message': 'on',
                            }));
                            const $lock = $(this).closest('.switch-group').find('.lock-box');
                            $lock.prop('checked', true);
                            $lock.change();

                            $shutdown.pause();
                            $shutdown.currentTime = 0;

                            $startup.play();
                            $startup.addEventListener('timeupdate', function() {
                                const buffer = .44;
                                if (this.currentTime > this.duration - buffer) {
                                    $ambient.play();
                                }
                            });
                            $ambient.addEventListener('timeupdate', function () {
                                const buffer = .44;
                                if (this.currentTime > this.duration - buffer) {
                                    this.currentTime = 0;
                                    this.play();
                                }
                            });
                        } else {
                            messageSocket.send(JSON.stringify({
                                'type': 'status',
                                'message': 'off',
                            }));
                            $startup.pause();
                            $startup.currentTime = 0;

                            $ambient.pause();
                            $ambient.currentTime = 0;

                            $shutdown.play();
                            $background.removeClass('color');
                        }
                    })
                </script>
            </form>
        </div>
        <div id="conversation-div" class="conversation flex-container flex-column flex-align-bottom"></div>
    </div>
    <div id="input-div" class="input fill">
        <div class="w-form">
            <form id="query-form" name="query" data-name="Query form" class="fill" action="" method="post">
                {% csrf_token %}
                <div class="fill flex-container flex-row">
                    <div class="fill flex-input">
                        <label for="Input"></label>
                        <textarea placeholder="Say something to HAL..."
                                  maxlength="5000" id="Input"
                                  name="Input" data-name="Input"
                                  autofocus
                                  class="fill w-input"></textarea>
                    </div>
                    <div class="fill flex-button">
                        <input id="submit-button" type="submit" value="" data-wait=""
                               class="submit-button w-button">
                        <script>
                            const ENTER_KEY = 13;
                            const input = $('#Input');
                            input.keydown(function(event) {
                                if (event.which === ENTER_KEY) {
                                    $('#query-form').submit();
                                    return false;
                                }
                            })
                            $('#query-form').submit(function(e) {
                                const text = $.trim(input.val());
                                if (text !== "") {

                                    const message = document.createElement("div");
                                    message.setAttribute("align", "right");
                                    message.classList.add('conversation-text', 'user-text');
                                    message.textContent = text;
                                    const conversation = $("#conversation-div");
                                    conversation.append(message);
                                    let scrollOptions = Object();
                                    scrollOptions.behavior = 'smooth';
                                    scrollOptions.block = 'start';

                                    message.scrollIntoView(scrollOptions);

                                    input.val('');

                                    messageSocket.send(JSON.stringify({
                                        'type': 'message',
                                        'message': text,
                                    }));
                                }
                                e.preventDefault();
                            });
                        </script>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
